

<div class="img">
    <img src="../assets/img/burger.png" alt="burger"></div>
<h4>Eat-Da-Burger!</h4>


<div class="not-devoured" style="display:none" value="1">
  {{#each burger_name}}
    {{#unless devoured}}
    <p>
       {{this.id}}. {{burger_name}}
    </p>
    <button data-planid="{{this.id}}.{{this.devoured}}" class="btn-default" id="not-devoured" value="1">Devour It!</button>
    {{/unless}}
        {{/each}}
</div>


<div class="devoured" style="display:none" value="0">
    {{#each burger_name}}
        {{#if this.devoured}}
        <p>
            <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}">
        </p>
    {{/if}}
        {{/each}}
</div>


<div class="create-burger">
    <form action="/burgers/create" method="POST" class="form-group row">
        <label for="burger-name"></label>
        <input type="text" class="form-control col-xs-3" data="id" placeholder="burger name" id="burger">
        <p style="font-size: 13px">"Enter a burger you want to eat and click the "submit" button!"</p>
        <button type="submit" class="btn-primary">Submit</button>
    </form>
</div>

